
div#favoritesRender {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 800px;
    margin-top: 10%;
}
button.fav {
    background-color: transparent;
    font-family: cursive;
    font-size: 27px;
    font-weight: bold;
    color:black;
    border:1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 350px;
    line-height: 2.5;
    font-size: 20px;
}
button.fav.app-dark {
    color: white;
    
}
img.favImg {
    height: 100px;
    width: 220px;
}