/* Header */
div#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 1%;
}
/* favorites */
div#goToFavB {
    text-align: end;
    margin-top: 1%;
}
button#gotofavB {
    border-radius: 8px;
    border: 3px solid red;
    background: transparent;
    height: 50%;
    font-family: cursive;
    font-size: 17px;
    color: red;
    background-color: white;
}
button#gotofavB.app-dark {
    border-radius: 8px;
    border: 3px solid white;
    background: transparent;
    height: 50%;
    font-family: cursive;
    font-size: 17px;
    color: white;
    background-color: black;
}
/* tempToggle */
div#toggles {
    margin-top: 1%;
}
div#TempDiv {
    display: flex;
    flex-direction: column;
    line-height: 8px;
    margin-top: 4%;
}
/* AllToggles */
label.temp.Lable {
    width: max-content;
    font-size: 18px;
    margin-bottom: 5%;
    font-weight: bold;
}
label {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 10px;
    margin-bottom: 8px;
}
 .toggleI {
    opacity: 0;
    width: 0;
    height: 0;
} 
span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -2;
    right: 0;
    bottom: 0; 
    background: #2c3e50;
    transition: 0.3s;
    border-radius: 30px;
    width: 60px;
    height: 18px;
}
span:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
  }
  input:checked + span {
    /* background-color: #00c853; */
    background-color: black;
    width: 60px;
    height: 18px;
  }
  input:checked + span:before {
    transform: translateX(40px);
    
  }strong {
    position: absolute;
    left: 100%;
    width: max-content;
    line-height: 30px;
    margin-left: 10px;
    cursor: pointer;
}
/* ThemeToggle */
.app {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20201012/pngtree-white-cloud-on-blue-sky-weather-background-image_410050.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-Position: 'center',
  }
  
  .app-dark {
    color: #fff;
    background-image: url('https://st.depositphotos.com/2799173/56569/i/450/depositphotos_565694936-stock-photo-night-sky-background-stars-clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-Position: 'center',
    
  }
  div#themeD {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    line-height: 1px;
}
h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 60px;
}
